<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to football</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/cof.css' %}"/>
</head>
<body>
<header>
    <h1>the best way to get success</h1>
</header>
    <div class="col-xs-12" id="match_name">
        <div class="col-xs-3" id="back_1">
            <a href="http://127.0.0.1:8000/">
                <div class="col-xs-12" id="back_2">
                    <h3 id="back_3">
                        <img src="http://www.pngmart.com/files/1/Football-Ball-PNG.png">
                        вернуться к матчам
                    </h3>
                </div>
            </a>
        </div>
        <div class="col-xs-9">
            <div class="col-xs-12">
                <div class="col-xs-5 col-xs-offset-1" id="team_1">
                    <h2 id="match_teams"><strong>{{match.0.team_1}}</strong></h2>
                </div>
                <div class="col-xs-5 col-xs-offset-1" id="team_2">
                    <h2 id="match_teams_2"><strong>{{match.0.team_2}}</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="col_12">
            <div class="col-xs-3" id="col_3">
                <h2>отзывы</h2>
            </div>
            <div class="col-xs-9" id="col_9">
                <div calss="row">
                    {%for row in cof%}
                    <div class="team-block">
                        <div class="col-xs-12" id="col_12_cof">
                            <div class="col-xs-2" id="book_logo">
                                <img src='{{row.bookmaker.way}}'>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1 text-center" id="cof_1x">
                                <h4><strong>{{row.one}}</strong></h4>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1 text-center" id="cof_x">
                                <h4><strong>{{row.x}}</strong></h4>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1 text-center" id="cof_2x">
                                <h4><strong>{{row.two}}</strong></h4>
                            </div>
                            <a class="col-xs-3 col-xs-offset-1" href="{{row.bookmaker.href}}" id="cof_get_bet">
                                <h3><i><strong>TAKE A BET <big id="dollar"> $</big></strong></i></h3>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>






    </div>
<footer class="col-xs-12">
    <div class="row">

        <div class="col-xs-3 col-xs-offset-1" id="phoness">
            <h2><strong>+38(066)3601910</strong></h2>
        </div>
        <div class="col-xs-2 col-xs-offset-5" id="sots_sety">
            <div class="media" id="imagsoti1">
                <div class="media-left" id="us">
                    <h3><strong></strong></h3>
                </div>
                <div class="media-body">
                    <a href="https://twitter.com/toha_livs"><img id="twitt" src='{% static "image/twit.png" %}'></a>
                    <a href="https://www.instagram.com/aghica/?hl=ru"><img id="instaa" src="{% static 'image/insta.png' %}"></a>
                    <a href="https://www.facebook.com/profile.php?id=100007216930627"><img id="facebookk" src="{% static 'image/facebook.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
    <div class="col-xs-12 text-center" id="copyy">
        &#169; 2018 Copyright Text
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</body>
</html>